.fb-file {
  font-family: arial,sans-serif;
  font-size: small;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 120px;
  height: 110px;
  vertical-align: middle;
  overflow: hidden;
}
.fb-file-icon {
  background-position: center;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  margin: 0 auto 1px auto;
}
.fb-file-name {
  padding: 0 5px;
  border-radius: 16px;
  display: inline-block;
  max-width: 110px;
  overflow: hidden;
  line-height: 16px;
  max-height: 32px;
  word-wrap: break-word;
}
.fb-file-selected .filebrowser-file-icon {
  background-color: #cfcfcf;
}
.fb-file-selected .filebrowser-file-name {
  background-color: #6080f0;
  color: white;
}
