.fb {
  border-radius: 5px;
  font-family: arial,sans-serif;
  font-size: small;
  box-shadow: 0 5px 20px #3b3b3b;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  cursor: default;
}
.fb-cwd {
  background: -webkit-linear-gradient(#f2f2f2, #bebebe);
  background: -ms-linear-gradient(#f2f2f2, #bebebe);
  background: -o-linear-gradient(#f2f2f2, #bebebe);
  background: -moz-linear-gradient(#f2f2f2, #bebebe);
  background: linear-gradient(#f2f2f2, #bebebe);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #6a6a6a;
  text-align: center;
  height: 55px;
}
.fb-back {
  position: absolute;
  height: 20px;
  width: 25px;
  top: 24px;
  left: 8px;
  border: 1px solid #7d7d7d;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-image: url("back.png"),-webkit-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back.png"),-ms-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back.png"),-o-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back.png"),-moz-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back.png"),linear-gradient(#f5f5f5, #bfbfbf);
  background-position: center;
  background-repeat: no-repeat;
}
.fb-back-active {
  background-image: url("back-active.png"),-webkit-linear-gradient(#676767, #9a9a9a);
  background-image: url("back-active.png"),-ms-linear-gradient(#676767, #9a9a9a);
  background-image: url("back-active.png"),-o-linear-gradient(#676767, #9a9a9a);
  background-image: url("back-active.png"),-moz-linear-gradient(#676767, #9a9a9a);
  background-image: url("back-active.png"),linear-gradient(#676767, #9a9a9a);
}
.fb-back-disabled {
  background-image: url("back-disabled.png"),-webkit-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back-disabled.png"),-ms-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back-disabled.png"),-o-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back-disabled.png"),-moz-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("back-disabled.png"),linear-gradient(#f5f5f5, #bfbfbf);
}
.fb-forward {
  position: absolute;
  height: 20px;
  width: 25px;
  top: 24px;
  left: 35px;
  border-top: 1px solid #7d7d7d;
  border-right: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: url("forward.png"),-webkit-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward.png"),-ms-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward.png"),-o-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward.png"),-moz-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward.png"),linear-gradient(#f5f5f5, #bfbfbf);
  background-position: center;
  background-repeat: no-repeat;
}
.fb-forward-active {
  background-image: url("forward-active.png"),-webkit-linear-gradient(#676767, #9a9a9a);
  background-image: url("forward-active.png"),-ms-linear-gradient(#676767, #9a9a9a);
  background-image: url("forward-active.png"),-o-linear-gradient(#676767, #9a9a9a);
  background-image: url("forward-active.png"),-moz-linear-gradient(#676767, #9a9a9a);
  background-image: url("forward-active.png"),linear-gradient(#676767, #9a9a9a);
}
.fb-forward-disabled {
  background-image: url("forward-disabled.png"),-webkit-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward-disabled.png"),-ms-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward-disabled.png"),-o-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward-disabled.png"),-moz-linear-gradient(#f5f5f5, #bfbfbf);
  background-image: url("forward-disabled.png"),linear-gradient(#f5f5f5, #bfbfbf);
}
.fb-file {
  font-family: arial,sans-serif;
  font-size: small;
  cursor: default;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 120px;
  height: 110px;
  vertical-align: middle;
  overflow: hidden;
}
.fb-file-icon {
  background-position: center;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  margin: 0 auto 1px auto;
}
.fb-file-icon-unknown {
  background-image: url("mime/unknown.png");
}
.fb-file-icon-folder {
  background-image: url("folder.png");
}
.fb-file-name {
  padding: 0 5px;
  border-radius: 16px;
  display: inline-block;
  max-width: 110px;
  overflow: hidden;
  line-height: 16px;
  max-height: 32px;
  word-wrap: break-word;
}
.fb-file-selected .fb-file-icon {
  background-color: #cfcfcf;
}
.fb-file-selected .fb-file-name {
  background-color: #6080f0;
  color: white;
}
.fb-fl {
  padding: 5px;
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
}
:focus {
  outline: none;
}
.goog-menu {
  background: #fcfcfc;
  border-color: #e7e7e7 #c5c5c5 #8f8f8f #c4c4c4;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: small;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000;
  border-radius: 4px;
  box-shadow: 0 5px 10px #a6a6a6;
}
.goog-menuitem {
  color: #000;
  list-style: none;
  margin: 0;
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.goog-menuitem-highlight {
  background-color: #6080f0;
  background: -webkit-linear-gradient(#4c6cfc, #1d45f4);
  background: -ms-linear-gradient(#4c6cfc, #1d45f4);
  background: -o-linear-gradient(#4c6cfc, #1d45f4);
  background: -moz-linear-gradient(#4c6cfc, #1d45f4);
  background: linear-gradient(#4c6cfc, #1d45f4);
  border-top-color: #6a83ef;
  border-bottom-color: #0f39ed;
  border-style: solid;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
  color: white;
}
.goog-menuseparator {
  border-top: 1px solid #ededed;
  margin: 4px 0;
  padding: 0;
}
.goog-menuitem input {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
}
